---
// The Root Layout with all global rules
import '@/styles/global.css';
import SpeedInsights from '@vercel/speed-insights/astro';

// Inter font, the main font
import '@fontsource-variable/inter';
import interWoff2 from '@fontsource-variable/inter/files/inter-latin-wght-normal.woff2?url';

const isProd = import.meta.env.PROD;
export interface Props {
  title?: string;
  description?: string;
  ogImage?: string;
}

const env = import.meta.env;

let {
  title = env.PUBLIC_DEFAULT_TITLE,
  description = env.PUBLIC_DEFAULT_DESCRIPTION,
  ogImage = env.PUBLIC_BASE_URL + env.PUBLIC_OG_IMAGE,
} = Astro.props as Props;

title += ' ' + env.PUBLIC_POSTFIX;
description += ' ' + env.PUBLIC_POSTFIX;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="preload" as="font" type="font/woff2" href={interWoff2} crossorigin="anonymous" />

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="color-scheme" content="dark light" />

    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="canonical" href={Astro.url} />

    <!-- Open Graph -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={ogImage} />
    <meta property="og:url" content={Astro.url} />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content={ogImage} />
  </head>

  <body>
    <slot />
    {isProd && <SpeedInsights />}
  </body>
</html>
